:root { 
  color-scheme: light;
}
html, html * { 
  scrollbar-width: none;
  font-family: "Samsung Sharp Sans", sans-serif;
}
body { 
  background: transparent;
}
#reactRoot {
  overflow: hidden;
}
.grafana-app section { 
  pointer-events: none;
}
[class*="canvas-wrapper-old"] > :first-child {
  display: none;
}
.grafana-app div[style*="transition: width 1s"] {
  transition: width 1s linear !important;
}

.react-grid-item:has(.markdown-html) section > div:last-child {
  padding: 0px 8px !important;
  margin-top: -12px;
  color: white;
}

.grafana-app #\32 , #\38 , #\31 3 { 
  & .markdown-html p {
    writing-mode: sideways-lr;
    height: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
  }
}

.grafana-app #\37 , #\31 2 , #\31 7 { 
  & .markdown-html p {
    text-align: right;
  }
}

div[style*="display: flex; flex-flow:"] [style*="line-height: 1.2;"]:first-child {
  display: none;
}

div[style*="display: flex; flex-flow:"] [style*="line-height: 1.2;"] {
  font-size: 50px !important;
  font-weight: 700 !important;
  margin-top: -86px !important;
  color: white !important;
}
div[style*="display: flex; flex-flow:"] [style*="line-height: 1.2;"] span {
  font-size: 50px !important;
}

[data-testid="public-dashboard-footer"] {
  display: none;
}

.gauge-title {
  font-size: 24px;
  font-weight: bold;
  color: white !important;
  background:  linear-gradient(90deg, rgb(78, 219, 254), #9C6DE1); /* horizontal gradient */ 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align:center;
}
